* {
	margin: 0px;
	padding: 0px;
}

.navbar {
	margin-bottom: 0px;
	min-height: 100px;
}

/*Primary Navigaiton bar*/
nav#primary-nav.navbar.navbar-inverse {
	min-height: 35px;
	background-color: #013E7F;
}

div.container-fluid {
	height: 35px;
	margin-right: 55px;
}

ul.nav.navbar-nav.pull-right {
	height: 35px;
}

ul#blue-nav li a {
	
	font-size: 12px;
	color: #fff;
}
#primary-nav a {
	font-family: 'Open Sans' , sans-serif;
}

ul.dropdown-menu li a {
	font-family: 'Lora', serif;
}

.dropdown-toggle {
	font-family: 'Lora', serif;
	font-size: 15px;
}

ul#blue-nav li a .calendar {
	color: #F2973C;
}

ul#blue-nav li a .donate {
	color: #8CAF44;
}

ul#blue-nav.navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 15px;
    padding-left: 8px;
}

/*Secondary Navigation bar*/
.rhs-logo {
	height: 100%;
}

.navbar-inverse {
	background-color: #FCFCFC;
}

.navbar-brand {
	height: 100px;
	padding: 0px 15px;
	margin-left: 10px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 30px;
}

nav#secondary-nav {
	min-height: 100px;
}

li.dropdown-header {
	text-align: center;
}


ul#white-nav li a {
	
	font-size: 17.5px;
	font-weight: 2px;
}


ul.nav.navbar-nav.pull-right li a:hover {
	color: #013E7F;
}


li.dropdown {
	min-height: 100px;
}

ul#white-nav.navbar-nav>li>a {
    padding-top: 45px;
    padding-bottom: 15px;
}




.dropdown-menu li a {
color: #013E7F;
font-size: 10px;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
}


.dropdown:hover .dropdown-menu {
display: block;
}

ul.dropdown-menu {
	left: -100px;
}

/*Carousel*/
.first-class,
.second-class,
.third-class,
.fourth-class,
.fifth-class {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*Buttons*/

.btn-primary {
	background-color: #013E7F;
}

.btn-default {
	color: #fff;
	background-color: #013E7F;
}


/*Featurettes*/


.bluetitle {
	font-family: 'Lora', serif;
	color: #013E7F;

}
.whyrhs {
    margin: 0 auto;
    text-align: center;

}

.whyrhs.waves {
	margin-top: -40px;
}

.whyrhs iframe {
	margin: 0 auto;
}

.whyrhs img.waves, .whyrhs {
	display: inline-block;
	margin-left:-6px;
	margin-right:-6px;
}

.waves {
    margin-top: -293px;
}

.featurette-heading {
	text-align: center;
	margin-top: -10px;
	margin-bottom: 20px;
}
h2 {
	font-family: font-family: 'Lora', serif;
}

/*
.image {
	position: relative;
	height: 759px;
	z-index: -1;
	width: 100%;
}

.paracontent{
	height: 759px;
	width: 100%;
	margin-top: -10px;
	position: relative;
	z-index: 1;*/
}





footer>img {
	margin-top: 40px;
	margin-bottom: -40px;
}

.featurette img.img-zoom {
	width: 150px;
}

.featurette img.img-zoom:hover {
	width: 200px;
}

